configstore/
htop/
uv/
macmon.json
tmux/plugins/
btop
zellij
alacritty/themes/
doom/
emacs/
filezilla/
iterm2/
gh/
containers/
lexy/
raycast/
jgit/
zed/
neofetch/
github-copliot/
fish/fish_variables
vim/.netrwhist
github-copilot/
fish/
